{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="carousel-example-generic" class="carousel slide" style="margin-top: -10px">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="min-height: 500px; text-align:center">
                        <img src="{{ pic_obj.picture.url }}" alt="..." class="img-obj"
                             style="height: 500px; margin: 0 auto;">
                        <div class="carousel-caption" style="text-shadow: 0 0 22px black; color: white;">
                            {{ pic_obj.name }} <br>{{ pic_obj.write_time|date:'Y-m-d' }}
                        </div>
                    </div>
                    {{ pic_obj.introduction }}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="{% url 'gallery:scan' pic_obj_prev.pk %}" role="button">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="{% url 'gallery:scan' pic_obj_next.pk %}" role="button">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}

